.header {
  padding: 15px 30px;
  background-color: #e91e63;
  color: #fff;
}

.logo {
  font-size: 20px;
  cursor: pointer;
}

.header ul {
  list-style: none;
  margin: 20px 0 0 20px;
}

.header li {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.header li.active {
  border-bottom: 1px solid #fff;
}

.header li + li {
  margin-left: 15px;
}