<div class="header">
  {{link-to "CSV CREATOR" "index" tagName="div" classNames="logo"}}

  <ul>
    {{link-to "Home" "index" tagName="li"}}
    {{link-to "About" "about" tagName="li"}}
  </ul>
</div>
